In [83]:
import base64,hashlib,time
import os
import pandas as pd
import sqlite3

In [119]:
datapath = r'D:\documents\data\aso.niaoge\TD数据集'
mpath = r'D:\documents\Desktop'
diffpath = r'D:\documents\code\mycode\data'

In [3]:
os.listdir(datapath)

['demand_category20190725.csv',
 'demand_category_year20190725.csv',
 'demand_game_level20190801.csv',
 'index20190801.csv',
 'perf20190801.csv']

In [4]:
perf = pd.read_csv(os.path.join(datapath,'perf20190801.csv'))

In [5]:
perf.head()

,active_num,cover_num,coverage,date,mau,type_code,user_num,type,appHash,id
0,1.0,11,0.000032,20170228,0.000003,T200100,345535,动作游戏,-2337508999300375635,YWlyLkFuZEJhZGFv
1,NaN,15,0.000044,20170331,NaN,T200100,339440,动作游戏,-2337508999300375635,YWlyLkFuZEJhZGFv
2,5.0,18,0.000047,20170430,0.000013,T200100,383981,动作游戏,-2337508999300375635,YWlyLkFuZEJhZGFv
3,2.0,21,0.000064,20170531,0.000006,T200100,330104,动作游戏,-2337508999300375635,YWlyLkFuZEJhZGFv
4,2.0,11,0.000039,20170630,0.000007,T200100,281469,动作游戏,-2337508999300375635,YWlyLkFuZEJhZGFv

In [24]:
perf2 = perf.copy()
perf2['pkgName'] = perf['id'].apply(lambda x: base64.b64decode(x).decode('gbk'))
perf2 = perf2.drop(['id', 'appHash'], axis = 1)

In [25]:
perf2.head()

,active_num,cover_num,coverage,date,mau,type_code,user_num,type,pkgName
0,1.0,11,0.000032,20170228,0.000003,T200100,345535,动作游戏,air.AndBadao
1,NaN,15,0.000044,20170331,NaN,T200100,339440,动作游戏,air.AndBadao
2,5.0,18,0.000047,20170430,0.000013,T200100,383981,动作游戏,air.AndBadao
3,2.0,21,0.000064,20170531,0.000006,T200100,330104,动作游戏,air.AndBadao
4,2.0,11,0.000039,20170630,0.000007,T200100,281469,动作游戏,air.AndBadao

In [26]:
dmg = pd.read_csv(os.path.join(datapath, 'demand_game_level20190801.csv'))

In [27]:
dmg.head()

,g_app_m,g_app_v,g_apptype_m,g_apptype_v,g_gtype_m,g_gtype_v,g_game_m,g_game_v,g_rgame_m,g_rgame_v,g_rgtype_m,g_rgtype_v,date,type,type_code,appHash,id
0,18.636364,53.420875,65.545455,5051.808081,5.927273,9.142761,12.509091,142.810101,0.198513,0.008927,0.321179,0.014396,20170131,赛车游戏,T200400,5169667575830922153,QWRyZW5hbGluZS5DcmV3
1,18.382353,49.394831,62.882353,4817.016043,5.764706,7.518717,10.941176,59.875223,0.223312,0.018357,0.338708,0.030673,20170228,赛车游戏,T200400,5169667575830922153,QWRyZW5hbGluZS5DcmV3
2,20.500000,72.928571,52.772727,605.136364,5.181818,6.632035,9.727273,60.969697,0.189643,0.021283,0.276563,0.020763,20170331,赛车游戏,T200400,5169667575830922153,QWRyZW5hbGluZS5DcmV3
3,18.916667,44.446970,50.250000,644.750000,5.916667,10.628788,13.250000,180.931818,0.258030,0.022744,0.324677,0.026814,20170430,赛车游戏,T200400,5169667575830922153,QWRyZW5hbGluZS5DcmV3
4,18.000000,72.500000,45.523810,527.461905,4.857143,6.628571,8.714286,52.014286,0.177758,0.010763,0.290842,0.025146,20170531,赛车游戏,T200400,5169667575830922153,QWRyZW5hbGluZS5DcmV3

In [28]:
dmg.shape

(76714, 17)

In [31]:
pdmg = perf.merge(dmg, on = ['date', 'type', 'type_code','appHash','id'], how = 'outer')

In [32]:
pdmg.shape

(85185, 22)

In [33]:
pdmg.head()

,active_num,cover_num,coverage,date,mau,type_code,user_num,type,appHash,id,...,g_apptype_m,g_apptype_v,g_gtype_m,g_gtype_v,g_game_m,g_game_v,g_rgame_m,g_rgame_v,g_rgtype_m,g_rgtype_v
0,1.0,11,0.000032,20170228,0.000003,T200100,345535,动作游戏,-2337508999300375635,YWlyLkFuZEJhZGFv,...,37.090909,190.490909,3.727273,2.218182,6.090909,14.890909,0.165297,0.004816,0.247026,0.005313
1,NaN,15,0.000044,20170331,NaN,T200100,339440,动作游戏,-2337508999300375635,YWlyLkFuZEJhZGFv,...,71.400000,6598.542857,4.733333,3.352381,8.733333,23.780952,0.224904,0.028949,0.327262,0.040178
2,5.0,18,0.000047,20170430,0.000013,T200100,383981,动作游戏,-2337508999300375635,YWlyLkFuZEJhZGFv,...,48.944444,1296.526144,5.888889,7.163399,10.666667,62.823529,0.215469,0.007349,0.334857,0.013922
3,2.0,21,0.000064,20170531,0.000006,T200100,330104,动作游戏,-2337508999300375635,YWlyLkFuZEJhZGFv,...,52.714286,1017.314286,6.190476,8.061905,12.619048,173.947619,0.231264,0.015751,0.335175,0.019821
4,2.0,11,0.000039,20170630,0.000007,T200100,281469,动作游戏,-2337508999300375635,YWlyLkFuZEJhZGFv,...,49.454545,478.472727,6.272727,4.818182,11.363636,24.454545,0.251584,0.010510,0.316570,0.005850

In [35]:
pdmg2 = pdmg.copy()
pdmg2['pkgName'] = pdmg2['id'].apply(lambda x: base64.b64decode(x).decode('gbk'))

In [36]:
pdmg2.shape

(85185, 23)

In [37]:
pdmg2.columns

Index(['active_num', 'cover_num', 'coverage', 'date', 'mau', 'type_code',
       'user_num', 'type', 'appHash', 'id', 'g_app_m', 'g_app_v',
       'g_apptype_m', 'g_apptype_v', 'g_gtype_m', 'g_gtype_v', 'g_game_m',
       'g_game_v', 'g_rgame_m', 'g_rgame_v', 'g_rgtype_m', 'g_rgtype_v',
       'pkgName'],
      dtype='object')

In [107]:
conn = sqlite3.connect(r'D:\documents\data\aso.niaoge\20190723\aso20190723.db')
cur = conn.cursor()
testconn = sqlite3.connect(r'D:\documents\Buffer\test2.db')
testcur = testconn.cursor()

In [108]:
pdmg_var_dict = {
    'datahash': 'varchar(100) primary key',
    'pkgName':'varchar(50)',
    'appHash':'varchar(50)',
    'id':'varchar(50)',
    'type':'varchar(20)',
    'type_code':'varchar(20)',
    'date':'varchar(20)',
    'user_num':'integer',
    'active_num':'integer',
    'cover_num':'integer',
    'mau': 'float',
    'coverage':'float','g_app_m':'float',
    'g_app_v':'float',
    'g_apptype_m':'float',
    'g_apptype_v':'float',
    'g_gtype_m':'float',
    'g_gtype_v':'float',
    'g_game_m':'float',
    'g_game_v':'float',
    'g_rgame_m':'float',
    'g_rgame_v':'float',
    'g_rgtype_m':'float',
    'g_rgtype_v':'float'
}

pdmg_var_define = ','.join(['{} {}'.format(k,v) for k,v in pdmg_var_dict.items()])
create_table_pdmg_cmd = 'create table if not exists game_demand_perf_td_20190820 ({})'.format(pdmg_var_define)
print(create_table_pdmg_cmd)

try:
    cur.execute(create_table_pdmg_cmd)
    conn.commit()
except:
    print('wrong in creating table')

pdmg2columns = pdmg2.columns.tolist()
hash_sha256 = hashlib.sha256()
for r in pdmg2.itertuples(index = False):
    hash_sha256.update(str(tuple(r)).encode())
    datahash = hash_sha256.hexdigest()
    tempcmd = 'insert into game_demand_perf_td_20190820(datahash,{}) values ({}?)'.format(','.join(pdmg2columns),'?,'*(len(pdmg2columns)))
    try:
        cur.execute(tempcmd,(datahash,)+tuple(r))
        conn.commit()
    except:
        print('wrong')

create table if not exists game_demand_perf_td_20190820 (datahash varchar(100) primary key,pkgName varchar(50),appHash varchar(50),id varchar(50),type varchar(20),type_code varchar(20),date varchar(20),user_num integer,active_num integer,cover_num integer,mau float,coverage float,g_app_m float,g_app_v float,g_apptype_m float,g_apptype_v float,g_gtype_m float,g_gtype_v float,g_game_m float,g_game_v float,g_rgame_m float,g_rgame_v float,g_rgtype_m float,g_rgtype_v float)
wrong

In [131]:
create_log_table_cmd = 'create table if not exists changelog (uid integer primary key autoincrement, date varchar(20), log text)'
try:
    testcur.execute(create_log_table_cmd)
    testconn.commit()
except:
    print('wrong')

In [86]:
def insertlog(logtext):
    tempcmd = 'insert into changelog (date,log) values (?,?)'
    cur.execute(tempcmd,(time.asctime(),logtext))
    conn.commit()

In [87]:
dc = pd.read_csv(os.path.join(datapath,'demand_category20190725.csv'))

In [88]:
dc.shape

(264, 16)

In [89]:
dc.head()

,type_code,app_m,app_v,apptype_m,apptype_v,gtype_m,gtype_v,game_m,game_v,rgame_m,rgame_v,rgtype_m,rgtype_v,type_ratio_m,type_ratio_v,date
0,T200100,17.446539,72.917478,43.209772,1557.470566,4.382704,5.394237,7.025517,44.885675,0.185725,0.014252,0.284812,0.024223,0.305938,0.060972,20170131
1,T200200,20.021810,125.293308,49.889057,2699.840168,4.741427,8.144833,8.280005,108.861570,0.193531,0.019521,0.304918,0.042362,0.297513,0.081253,20170131
2,T200300,18.414923,76.163659,44.034374,1596.993089,4.647341,5.291457,7.451149,48.776628,0.189529,0.012930,0.286992,0.022955,0.265265,0.045402,20170131
3,T200400,17.779710,86.642816,47.669203,2066.743396,4.647585,6.497331,7.779046,69.139835,0.182508,0.015048,0.298401,0.026720,0.286697,0.062140,20170131
4,T200500,19.771155,78.147914,48.962644,2931.923231,5.159818,7.313310,8.673217,111.769414,0.193794,0.013211,0.287416,0.023793,0.243889,0.055510,20170131

In [91]:
dc.columns.tolist()

['type_code',
 'app_m',
 'app_v',
 'apptype_m',
 'apptype_v',
 'gtype_m',
 'gtype_v',
 'game_m',
 'game_v',
 'rgame_m',
 'rgame_v',
 'rgtype_m',
 'rgtype_v',
 'type_ratio_m',
 'type_ratio_v',
 'date']

In [106]:
dc_var_dict = {'datahash': 'varchar(100) primary key',
               'type_code':'varchar(20)',
                'date':'varchar(20)',
               'app_m':'float',
               'app_v':'float',
               'apptype_m':'float',
               'apptype_v':'float',
               'gtype_m':'float',
               'gtype_v':'float',
               'game_m':'float',
               'game_v':'float',
               'rgame_m':'float',
               'rgame_v':'float',
               'rgtype_m':'float',
               'rgtype_v':'float',
               'type_ratio_m':'float',
               'type_ratio_v':'float'}

dc_var_define = ','.join(['{} {}'.format(k,v) for k,v in dc_var_dict.items()])
create_dc_table_cmd = 'create table if not exists category_demand_td_20190820 ({})'.format(dc_var_define)
print(create_dc_table_cmd)

try:
    cur.execute(create_dc_table_cmd)
    conn.commit()
except:
    print('wrong in create table')
dc_columns = dc.columns.tolist()
hash_sha256 = hashlib.sha256()
for r in dc.itertuples(index = False):
    hash_sha256.update(str(tuple(r)).encode())
    datahash = hash_sha256.hexdigest()
    tempcmd = 'insert into category_demand_td_20190820(datahash,{}) values ({}?)'.format(','.join(dc_columns),'?,'*(len(dc_columns)))
    try:
        cur.execute(tempcmd,(datahash,)+tuple(r))
        conn.commit()
    except:
        print('wrong')

create table if not exists category_demand_td_20190820 (datahash varchar(100) primary key,type_code varchar(20),date varchar(20),app_m float,app_v float,apptype_m float,apptype_v float,gtype_m float,gtype_v float,game_m float,game_v float,rgame_m float,rgame_v float,rgtype_m float,rgtype_v float,type_ratio_m float,type_ratio_v float)
wrong
wrong

In [111]:
dcy = pd.read_csv(os.path.join(datapath,'demand_category_year20190725.csv'))
dcy = dcy.drop(['date'],axis = 1)
print(dcy.shape)
print(dcy.columns)

(22, 15)
Index(['type_code', 'app_m', 'app_v', 'apptype_m', 'apptype_v', 'gtype_m',
       'gtype_v', 'game_m', 'game_v', 'rgame_m', 'rgame_v', 'rgtype_m',
       'rgtype_v', 'type_ratio_m', 'type_ratio_v'],
      dtype='object')

In [112]:
dcy.head()

,type_code,app_m,app_v,apptype_m,apptype_v,gtype_m,gtype_v,game_m,game_v,rgame_m,rgame_v,rgtype_m,rgtype_v,type_ratio_m,type_ratio_v
0,T200100,19.081742,89.279008,48.381780,2083.281898,4.371765,5.292278,6.894455,38.736625,0.176658,0.013481,0.265556,0.022578,0.299222,0.059850
1,T200200,23.402431,140.108907,52.793368,2098.834732,4.191595,7.130470,6.979050,77.723994,0.158318,0.017303,0.246270,0.039095,0.339843,0.083970
2,T200300,20.222599,94.270670,48.068181,1899.440900,4.582619,5.330784,7.212805,41.400262,0.182229,0.013602,0.267139,0.023516,0.279388,0.049926
3,T200400,19.813423,113.329146,52.109200,2322.902820,4.437540,6.085466,7.193929,55.536930,0.166526,0.014445,0.271831,0.028721,0.300743,0.064145
4,T200500,20.800430,66.760378,50.960582,2777.463630,5.478189,6.325067,8.628847,66.807079,0.207544,0.012601,0.283696,0.018413,0.218947,0.049748

In [118]:
dcy_var_dict = {'type_code':'varchar(20) primary key',
                'app_m':'float', 
                'app_v':'float',
                'apptype_m':'float',
                'apptype_v':'float',
                'gtype_m':'float',
                'gtype_v':'float',
                'game_m':'float', 
                'game_v':'float', 
                'rgame_m':'float', 
                'rgame_v':'float', 
                'rgtype_m':'float',
                'rgtype_v':'float',
                'type_ratio_m':'float',
                'type_ratio_v':'float'}
dcy_var_define = ','.join('{} {}'.format(k,v) for k,v in dcy_var_dict.items())
create_dcy_table_cmd = 'create table if not exists demand_category_year20190725_td_20190820 ({})'.format(dcy_var_define)
print(create_dcy_table_cmd)

try:
    cur.execute(create_dcy_table_cmd)
    conn.commit()
except:
    print('wrong in create table')

dcy_columns = dcy.columns.tolist()
hash_sha256 = hashlib.sha256()
for r in dcy.itertuples(index = False):
    hash_sha256.update(str(tuple(r)).encode())
    datahash = hash_sha256.hexdigest()
    tempcmd = 'insert into demand_category_year20190725_td_20190820({}) values ({}?)'.format(','.join(dcy_columns),'?,'*(len(dcy_columns)-1))
    try:
        cur.execute(tempcmd,tuple(r))
        conn.commit()
    except:
        print('wrong')

create table if not exists demand_category_year20190725_td_20190820 (type_code varchar(20) primary key,app_m float,app_v float,apptype_m float,apptype_v float,gtype_m float,gtype_v float,game_m float,game_v float,rgame_m float,rgame_v float,rgtype_m float,rgtype_v float,type_ratio_m float,type_ratio_v float)

In [121]:
diff = pd.read_csv(os.path.join(diffpath,'aso_diff20190724.csv'))
diff = diff.drop(['Unnamed: 0'],axis = 1)
print(diff.shape)
print(diff.columns)

(17046, 8)
Index(['appleid', 'diff_p_f', 'date', 'timestamp', 'diff_p_max', 'diff_e_f',
       'diff_e_max', 'type_code'],
      dtype='object')

In [130]:
diff_var_dict = {'datahash':'varchar(100) primary key',
                 'appleid':'integer', 
                 'type_code':'varchar(20)',
                 'date':'varchar(20)', 
                 'timestamp':'integer',
                 'diff_p_f':'float', 
                 'diff_p_max':'float', 
                 'diff_e_f':'float',
                 'diff_e_max':'float'}
diff_var_define = ','.join('{} {}'.format(k,v) for k,v in diff_var_dict.items())
create_diff_table_cmd = 'create table if not exists aso_diff20190724 ({})'.format(diff_var_define)
print(create_diff_table_cmd)

try:
    cur.execute(create_diff_table_cmd)
    conn.commit()
except:
    print('wrong in create table')

diff_columns = diff.columns.tolist()
hash_sha256 = hashlib.sha256()
for r in diff.itertuples(index = False):
    hash_sha256.update(str(tuple(r)).encode())
    datahash = hash_sha256.hexdigest()
    tempcmd = 'insert into aso_diff20190724(datahash,{}) values ({}?)'.format(','.join(diff_columns),'?,'*(len(diff_columns)))
    try:
        cur.execute(tempcmd,(datahash,)+tuple(r))
        conn.commit()
    except:
        print('wrong')

create table if not exists aso_diff20190724 (datahash varchar(100) primary key,appleid integer,type_code varchar(20),date varchar(20),timestamp integer,diff_p_f float,diff_p_max float,diff_e_f float,diff_e_max float)