# project cancel
# panel data不太适合标准化

In [7]:
import pandas as pd
import numpy as np
import sqlite3, os, sys

In [3]:
db_path = r'D:\documents\data\aso.niaoge\aso20190723.db'
conn = sqlite3.connect(db_path)

In [5]:
cmd_baseregtable = 'select * from TableForReg_baseOnTdtype20190920'
baseregtable = pd.read_sql(cmd_baseregtable, conn).drop(columns = 'datahash')
print(baseregtable.shape,'\n',baseregtable.columns,'\n',baseregtable.head())

(15963, 50)
 Index(['appleid', 'type_code', 'date', 'timestamp', 'diff_p_f', 'diff_p_max',
       'diff_e_f', 'diff_e_max', 'appName', 'price', 'tags', 'rdtimestamp',
       'size', 'payInApp', 'compatibility', 'contentRank', 'samepubappnum',
       'age', 'span', 'active_num', 'cover_num', 'user_num', 'mau', 'coverage',
       'app_m', 'app_v', 'apptype_m', 'apptype_v', 'gtype_m', 'gtype_v',
       'game_m', 'game_v', 'rgame_m', 'rgame_v', 'rgtype_m', 'rgtype_v',
       'type_ratio_m', 'type_ratio_v', 'g_app_m', 'g_app_v', 'g_apptype_m',
       'g_apptype_v', 'g_gtype_m', 'g_gtype_v', 'g_game_m', 'g_game_v',
       'g_rgame_m', 'g_rgame_v', 'g_rgtype_m', 'g_rgtype_v'],
      dtype='object')
       appleid type_code      date   timestamp  diff_p_f  diff_p_max  diff_e_f  \
0  1074628617   T200500  20170131  1485878400  0.934714    0.973451  0.999256
1  1027445769   T200500  20170131  1485878400  0.826628    0.951865  0.999433
2  1182272912   T200500  20170131  1485878400  0.906568    0.939965  0.999623
3   454802329   T200500  20170131  1485878400  0.793587    0.313163  0.999058
4   958024475   T200500  20170131  1485878400  0.867713    0.855861  0.978332

   diff_e_max                       appName  price  ... g_apptype_m  \
0    0.776210  LEGO® Ninjago: Skybound「已下架」    0.0  ...   59.000000
1    0.855624                          糖糖机场    0.0  ...   72.781250
2    0.705356               飞机大作战-汽车大逃杀官方续作    0.0  ...   67.758621
3    0.588596           F18 Carrier Landing   68.0  ...   42.866667
4    0.572557                   驯龙战机3D「已下架」    0.0  ...   56.800000

   g_apptype_v  g_gtype_m  g_gtype_v   g_game_m    g_game_v  g_rgame_m  \
0  1553.785714   6.862069   6.551724  13.034483   70.748768   0.237363
1  2854.240927   5.750000   5.354839  15.156250  109.490927   0.227892
2  2804.240534   6.517241  10.000044  14.465517  217.275261   0.206111
3   339.552381   5.066667   6.352381   7.866667   42.409524   0.174708
4   893.955556   6.700000   6.677778  14.500000  177.388889   0.245517

   g_rgame_v  g_rgtype_m  g_rgtype_v
0   0.011621    0.389029    0.015363
1   0.010250    0.326140    0.010026
2   0.011021    0.321090    0.020677
3   0.008964    0.274068    0.010776
4   0.017364    0.298065    0.007853

[5 rows x 50 columns]

In [21]:
# std func
def pd_std(df,columns):
    df = df.copy()
    for c in columns:
        df['{}_std'.format(c)] = (df[c]-np.mean(df[c]))/np.std(df[c])
    df_std = df.drop(columns = columns)
    return df_std,df

In [22]:
# subset type_time data
# include demand heterogeneity in category level
type_time = baseregtable[['type_code', 'date', 'timestamp',
                          'app_m', 'app_v', 'apptype_m', 'apptype_v',
                          'gtype_m', 'gtype_v','game_m', 'game_v', 
                          'rgame_m', 'rgame_v', 'rgtype_m', 'rgtype_v',
                          'type_ratio_m', 'type_ratio_v']].drop_duplicates()

type_time_std_columns = ['app_m', 'app_v', 'apptype_m', 'apptype_v',
                          'gtype_m', 'gtype_v','game_m', 'game_v', 
                          'rgame_m', 'rgame_v', 'rgtype_m', 'rgtype_v',
                          'type_ratio_m', 'type_ratio_v']
type_time_std = pd_std(type_time,type_time_std_columns)[0]
print(type_time_std.shape,'\n')
type_time_std.head()

(192, 17)

,type_code,date,timestamp,app_m_std,app_v_std,apptype_m_std,apptype_v_std,gtype_m_std,gtype_v_std,game_m_std,game_v_std,rgame_m_std,rgame_v_std,rgtype_m_std,rgtype_v_std,type_ratio_m_std,type_ratio_v_std
0,T200500,20170131,1485878400,-0.407250,-0.960585,-0.269772,0.264096,1.346206,1.612850,1.692537,3.018056,1.147478,0.036528,1.245507,0.173525,-0.922762,-0.636080
18,T201700,20170131,1485878400,-1.092839,-1.019399,-0.363781,-0.195293,0.077917,-0.381205,0.313579,-0.119693,0.491473,-0.047059,0.739904,-0.324294,-0.354043,-0.631401
19,T201900,20170131,1485878400,-1.090633,-1.239965,-0.992845,-0.841934,-0.669540,-1.186449,-0.839330,-0.876417,-0.066149,-0.350096,-0.061938,-0.464086,0.172904,-0.525140
21,T201600,20170131,1485878400,-0.425178,-0.217254,-0.316940,-0.120061,0.239703,0.611641,0.307262,0.489106,0.472793,0.807097,0.564873,0.603606,-0.112883,0.351191
24,T200500,20170228,1488297600,-0.283485,-0.695080,-0.383903,-0.142911,1.170208,1.751643,1.441808,2.568872,1.038875,0.037226,0.964901,-0.039725,-0.826529,-0.444714

In [23]:
test = type_time.groupby('timestamp')

In [27]:
test['app_m'].mean().head(12)

timestamp
1485878400    19.076644
1488297600    19.607618
1490976000    19.873960
1493568000    20.092549
1496246400    20.366932
1498838400    20.323976
1501516800    19.855404
1504195200    20.154763
1506787200    21.863182
1509465600    22.346151
1512057600    22.539957
1514736000    22.965238
Name: app_m, dtype: float64